@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

$headerHeight: 10vh;
$mainHeight: 90vh;
$textColor: #777;

@mixin flex($direction: row, $justify: normal, $align: normal) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

* {
  font-family: "Mali", cursive;
}

body {
  background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), #416b88;
  margin: 0;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  height: $headerHeight;
  width: 100%;
}

.navbar {
  @include flex($justify: space-around, $align: center);
  background-color: white;
  height: 100%;

  .logo {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $textColor;
    word-spacing: 10px;
    margin-right: 30px;
    text-align: center;
  }

  .menu {
    @include flex($justify: flex-end, $align: center);
    height: 100%;
    width: 35vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .item {
    @include flex($justify: center, $align: center);
    height: 100%;
    text-decoration: none;
    color: $textColor;
    font-size: 1rem;
    padding: 0 1.5vw;

    &:hover {
      background-color: #777;
      color: white;
    }
  }
}

main {
  margin-top: $headerHeight;
  height: $mainHeight;
  width: 100%;
}

.hero {
  background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../img/home-bg.jpg") no-repeat bottom left;
  background-size: cover;
}

.bg {
  background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../img/registration-bg.jpg") no-repeat bottom left;
  background-size: cover;
  //background: linear-gradient(#236466, #80657c);
  //background: linear-gradient(#26b978, #ff512f);
}

.content {
  @include flex($direction: column, $justify: center, $align: center);
  height: 100%;
  width: 100%;
  color: $textColor;

  .form {
    @include flex($direction: column, $justify: center, $align: center);
    background-color: white;
    border-radius: 30px;
    padding: 0 30px;

    &-index {
      width: 250px;
    }

    &-reg {
      width: 300px;
    }

    .header {
      margin-bottom: 0;
    }

    .body {
      @include flex($direction: column, $justify: center, $align: center);
      margin: 0;
      width: 100%;

      .item {
        @include flex($justify: space-between, $align: center);
        width: 100%;
        margin-bottom: 5px;

        &:first-of-type {
          margin-top: 15px;
        }

        label {
          margin-right: 8px;
        }

        input {
          color: $textColor;

          &:focus {
            outline-color: lightgreen;
          }
        }
      }

      .error {
        @include flex($justify: center, $align: center);
        width: 100%;
        color: indianred;
        text-align: center;
      }

      .button {
        align-self: flex-end;
        border-radius: 15px;
        padding: 5px 10px;
        margin: 5px 0;
        border: 1px solid #777;
        background-color: white;

        &:active, &:hover {
          background-color: #777;
          color: white;
        }

        &:active {
          box-shadow: 0 0 12px 5px rgba(34, 164, 159, 0.3);
        }
      }
    }

    .pagination {
      margin: 0 10px 10px 10px;
      padding: 10px 20px 10px;
      color: $textColor;

      .button {

        &:hover {
          box-shadow: 0 8px 10px -5px rgba(34, 164, 159, 0.3);
        }
      }
    }
  }

  .button {
    color: $textColor;
  }
}

footer {
  width: 100%;
  background-color: white;
}

.footer {
  @include flex($justify: space-between, $align: center);
  padding: 0 2vw;
  color: $textColor;

  .author {
    min-width: 10vw;
  }
}